<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h2><%= "#{@microposts_hash["user_name"]}ã®post" %></h2>
<ol id = "microposts">
	<% @microposts_hash["microposts"].each do |list| %>
		<li>
			<span><%= image_tag @microposts_hash["icon_url"] %></span>
			<span><%= @microposts_hash["user_name"] %></span>
			<span><%= list["content"] %></span>
			<span><%= list["created_at"] %></span>
		</li>
	<% end %>
</ol>