<h2><%= "#{@microposts["user_name"]}のpost" %></h2>
<ol id="microposts">
	<% @microposts["microposts"].each do |micropost| %>
	<li>
		<span class="gravatar"><%= image_tag @microposts["icon_url"] %></span>
		<span class="user"><%= @microposts["user_name"] %></span>
		<span class="content"><%= micropost["content"] %></span>
		<span class="timestamp"><%= micropost["created_at"] %></span>
	</li>
	<% end %>
</ol>
<% if !(@profile.nil?) %>
<%= link_to "#{@microposts["user_name"]}の呟きをもっとみる", @profile, target: :_blank %>
<% end %>
