<!DOCTYPE html>
<html>

<head>
  <title>クライアントアプリ</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="main-block">
    <%= render 'shared/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
    <iframe id="iframe-microposts" src="/microposts?id=1"></iframe>
    <%= render 'shared/footer' %>
  </div>
</body>

</html>
